@model IEnumerable<VilaItalia.Models.FichaTecnica>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FichaNome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrecoSugerido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrecoSabor)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FichaNome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrecoSugerido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrecoSabor)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FichaTecnicaId }) |
            @Html.ActionLink("Details", "Details", new { id=item.FichaTecnicaId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FichaTecnicaId })
        </td>
    </tr>
}

</table>
