@model IEnumerable<VilaItalia.Models.Produto>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Balcao.BalcaoId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Delivery.DeliveryId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mesa.MesaId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrecoCompra)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrecoVenda)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrecoMedio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PercentLucro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrecoSugerido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Aliquota)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Medida)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Balcao.BalcaoId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Delivery.DeliveryId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mesa.MesaId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantidade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrecoCompra)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrecoVenda)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrecoMedio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PercentLucro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrecoSugerido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Aliquota)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Medida)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProdutoId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProdutoId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProdutoId })
        </td>
    </tr>
}

</table>
