@model VilaItalia.Models.Insumo

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Insumo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.InsumoNome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InsumoNome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InsumoQuantidadeBruto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InsumoQuantidadeBruto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InsumoQuantidadeProcessado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InsumoQuantidadeProcessado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InsumoQuantidadeTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InsumoQuantidadeTotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InsumoUltimoPreco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InsumoUltimoPreco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InsumoPrecoMedio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InsumoPrecoMedio)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
